body{
  background-color: navy;
  color: white;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: large;
}


button {
  box-shadow: none;
  border: none;
  margin: 5px;
  background-color: blue;
  color: white;
}


